# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [2]:
#your code here
numbers = [i for i in range(1, 51)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [3]:
#your code here
even_numbers = [i for i in range(2, 201, 2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [6]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [7]:
#your code here
flattened_list = [num for row in a for num in row]

print(flattened_list)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [8]:
#your code here
filtered_list = [num for row in a for num in row if num >= 0.5]
print(filtered_list)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [10]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [11]:
#your code here
flattened_list = [num for sublist in b for row in sublist for num in row]
print(flattened_list)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [12]:
#your code here
filtered_list = [row[-1] for sublist in b for row in sublist if row[-1] <= 0.5]
print(filtered_list)

[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]

### Bonus

Try to solve these katas using list comprehensions.

**Easy**
- [Insert values](https://www.codewars.com/kata/invert-values)
- [Sum Square(n)](https://www.codewars.com/kata/square-n-sum)
- [Digitize](https://www.codewars.com/kata/digitize)
- [List filtering](https://www.codewars.com/kata/list-filtering)
- [Arithmetic list](https://www.codewars.com/kata/541da001259d9ca85d000688)

**Medium**
- [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
- [Count of positives / sum of negatives](https://www.codewars.com/kata/count-of-positives-slash-sum-of-negatives)
- [Categorize new member](https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa)

**Advanced**
- [Queue time counter](https://www.codewars.com/kata/queue-time-counter)

Easy

Insert values

In [17]:
b_inverted = [[[-x for x in row] for row in subarray] for subarray in b]
print(b_inverted)

[[[-0.55867166, -0.06210792, -0.08147297], [-0.82579068, -0.91512478, -0.06833034]], [[-0.05440634, -0.65857693, -0.30296619], [-0.06769833, -0.96031863, -0.51293743]], [[-0.09143215, -0.71893382, -0.45850679], [-0.58256464, -0.59005654, -0.56266457]], [[-0.71600294, -0.87392666, -0.11434044], [-0.8694668, -0.65669313, -0.10708681]], [[-0.07529684, -0.46470767, -0.47984544], [-0.65368638, -0.14901286, -0.23760688]]]

Sum Square(n)

In [18]:
b_square_sum = sum(x**2 for subarray in b for row in subarray for x in row)
print(b_square_sum)

8.750637581050272

Digitize

In [20]:
b_digitized = [[list(map(int, str(int(x)) ))[::-1] for x in row] for subarray in b for row in subarray]
print(b_digitized)

[[[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]], [[0], [0], [0]]]

List filtering

In [21]:
b_filtered = [[x for x in row if isinstance(x, float)] for subarray in b for row in subarray]
print(b_filtered)

[[0.55867166, 0.06210792, 0.08147297], [0.82579068, 0.91512478, 0.06833034], [0.05440634, 0.65857693, 0.30296619], [0.06769833, 0.96031863, 0.51293743], [0.09143215, 0.71893382, 0.45850679], [0.58256464, 0.59005654, 0.56266457], [0.71600294, 0.87392666, 0.11434044], [0.8694668, 0.65669313, 0.10708681], [0.07529684, 0.46470767, 0.47984544], [0.65368638, 0.14901286, 0.23760688]]

Arithmetic list

In [23]:
b_arithmetic = [[row[0] + i * (row[1] - row[0]) for i in range(len(row))] for subarray in b for row in subarray]
print(b_arithmetic)

[[0.55867166, 0.06210791999999998, -0.43445582000000005], [0.82579068, 0.91512478, 1.00445888], [0.05440634, 0.65857693, 1.26274752], [0.06769833, 0.96031863, 1.8529389299999999], [0.09143215, 0.71893382, 1.3464354899999997], [0.58256464, 0.59005654, 0.59754844], [0.71600294, 0.87392666, 1.0318503799999998], [0.8694668, 0.65669313, 0.44391945999999993], [0.07529684, 0.46470767, 0.8541185], [0.65368638, 0.14901286000000002, -0.35566065999999996]]

Multiples of 3 or 5

In [26]:
multiples_of_3_or_5 = [x for subarray in b for row in subarray for x in row if (x % 3 == 0 or x % 5 == 0) and x.is_integer()]
print(multiples_of_3_or_5)

[]

Count of positives / sum of negatives

In [27]:
positives_count = sum(1 for subarray in b for row in subarray for x in row if x > 0)
negatives_sum = sum(x for subarray in b for row in subarray for x in row if x < 0)
print(positives_count, negatives_sum)

30 0

Categorize new member

In [28]:
categorization = ["Senior" if x >= 55 and y > 7 else "Open" for subarray in b for row in subarray for x, y in zip(row[:-1], row[1:])]
print(categorization)

['Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open', 'Open']

 Queue Time Counter

In [29]:
queue_time = max([0] * 3)
print(queue_time)

0